.create-order, .edit-order {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px 0;
  
  table {
    width: 70%;
    border: 1px;
  }
   
  table th {
    width: 30%;
    height: 60px;
    padding: 20px;
    text-align: center;
    font-size: large;
    vertical-align: middle;
  }


  table tr td {
    width: 60%;
    padding: 20px;
    text-align: center;
  }
}


.title {
  margin:  0 30%;
  text-align: center;
  color: rgb(104, 7, 26);
}

.center-table-content {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.create-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  a, button {
    width: 20%;
    background-color: #344763;
    margin: 0 10px;
    
  }
}

form.form-control {
  background-color: unset;
}

  .form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #1089ff; 
  }

  // .btn {
  //   cursor: pointer;
  //   border-radius: 40px;
  //   -webkit-box-shadow: none !important;
  //   box-shadow: none !important;
  //   font-size: 15px; 
  // }

  // .btn.btn-primary {
  //   background: #1089ff !important;
  //   border: 1px solid #1089ff !important;
  //   color: #fff !important; 
  // }
// }