.order-details {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px 0;
  
  table {
    width: 70%;
    border: 1px;
  }
   
  table th {
    width: 30%;
    height: 60px;
    padding: 20px;
    text-align: center;
    font-size: large;
    vertical-align: middle;
  }


  table tr td {
    width: 60%;
    padding: 20px;
    text-align: center;
  }
}
.title {
  margin:  0 20px;
  text-align: center;
  color: rgb(104, 7, 26);
}

.center-table-content {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.edit-btn {
  justify-content: center;

  button {
    width: 20%;
    background-color: #344763;
    
  }
}